@import 'vars.scss';

section {
  margin: 0 auto;
}

article {
  & + article {
    border-top: 1px dotted $primary;
    margin-top: 32px;
    padding-top: 32px;
  }

  .row {
    display: flex;
    
    & + .row {
      margin-top: 16px;
    }

    .col {
      display: flex;
      flex-direction: column;
    }
  }

  .date {
    font-family: 'Roboto', sans-serif;
    font-size: 70%;
    text-transform: uppercase;

    .topic + .topic::before {
      content: ', ';
      color: $primary;
    }
  }
}

h2 {
  color: #111;
  font-size: 110%;
  margin-bottom: 8px;
  margin-top: -6px;
}

img {
  height: auto;
  margin: 0 22px 0 0;
  max-width: 150px;
}

a {
  color: $primary;
  transition: 0.1s;
  text-decoration: none;

  &:hover {
    color: darken($primary, 30%)
  }
}