@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-blur {
  backdrop-filter: blur(0.75rem);
}

.bg-gradient {
  @apply transition-300ms;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.95), transparent 50%);
}

.bg-gradient:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.transition-300ms {
  transition: 300ms;
}

@variants hover, group-hover {
  .translateX-1 {
    transform: translateX(0.25rem);
  }

  .translateX-2 {
    transform: translateX(0.5rem);
  }
}

.container {
  @apply max-w-6xl;
}

.blue-link,
.nav-link.nuxt-link-exact-active {
  @apply border-b-2 border-transparent text-blue-700 no-underline cursor-pointer;
}

.blue-link:hover {
  @apply border-b-2 border-blue-400 text-blue-400;
}

.plain-link {
  @apply border-b-2 border-transparent no-underline cursor-pointer;
}

.plain-link:hover {
  @apply border-b-2 border-blue-500 text-blue-500;
}

.nav-link {
  @apply border-b-2 border-transparent;
}

.nav-link.nuxt-link-exact-active {
  @apply border-blue-500;
}

.page-container {
  @apply bg-white flex-1 flex shadow-2xl border border-t-0 border-gray-400 rounded-lg rounded-b-lg rounded-t-none overflow-hidden w-full relative z-10 mb-48;
}

.dark .page-container {
  @apply bg-gray-800 border-gray-700;
}

h1,
h2,
h3,
h4 {
  @apply leading-tight;
}

.icon {
  @apply w-8 h-8 -mt-1;
}

.lazy {
  @apply bg-gray-400 relative;
}

.dark .lazy {
  @apply bg-gray-700;
}

.lazy img {
  backface-visibility: hidden;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s;
  width: 100%;
}

.lazy [lazy='loading'] {
  @apply opacity-0;
}

.lazy [lazy='loaded'] {
  @apply opacity-100;
}

.lazy [lazy='loading'] + .spinner {
  @apply opacity-100;
}

.lazy .spinner {
  left: 50%;
  margin: -20px;
  opacity: 0;
  position: absolute;
  top: 50%;
}

.animate {
  animation: slide-down 300ms;
  animation-fill-mode: forwards;
}

.animate-none {
  animation-duration: 0s;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
